<div class="jumbotron" style="background-color:transparent !important;">
    <h1>Inventory Hub - DASHBOARD</h1>

    <p><a href="https://github.com/microsoft/inventory-hub-java-on-azure"
          style="text-decoration:underline;" target="_blank">
        https://github.com/microsoft/inventory-hub-java-on-azure
    </a></p>

    <p>This project uses the following -- to create a simple real-time dashboard:</p>

    <p><b>Frameworks</b><br/>
    <ul>
        <li>Spring Boot</li>
        <li>Spring Boot Starter with the Azure Cosmos DB SQL API</li>
        <li>Spring Boot Starter for WebSocket</li>
        <li>Spring Data for Cosmos DB</li>
        <li>Spring Cloud Functions</li>
        <li>Spring Cloud Stream Binder for Kafka</li>
        <li>Spring Security</li>
        <li>Azure Active Directory B2C Spring Boot Starter</li>
        <li>AngularJS</li>
    </ul>
    </p>

    <p><b>Azure Services</b><br/>
    <ul>
        <li>Active Directory B2C</li>
        <li>App Service</li>
        <li>App Configuration Service</li>
        <li>Application Insights</li>
        <li>Cosmos DB</li>
        <li>Functions</li>
        <li>Event Hubs</li>
        <li>Key Vault</li>
    </ul>
    </p>

    <p><b>References</b>
    <ul>
        <li><a href="https://cloud.spring.io/spring-cloud-azure/"
               style="text-decoration:underline;"
               target="_blank" >Spring Cloud Azure</a></li>
        <li><a href="https://docs.microsoft.com/en-us/azure/java/spring-framework/"
               style="text-decoration:underline;" target="_blank" >Spring on Azure</a></li>
        <li><a href="https://docs.microsoft.com/en-us/azure/java/" style="text-decoration:underline;"
               target="_blank" >Azure for Java cloud developers</a></li>
    </ul>
    </p>


</div>
