<div class="jumbotron" style="background-color:transparent !important;">
    <h1>Inventory Hub - DASHBOARD</h1>

    <p>This project uses the following -- to create a simple inventory hub real-time dashboard:<br><br>
        -- Frameworks - Spring Boot, Azure
        Cosmos DB Spring Boot Starter, Spring Data for Cosmos DB, Kafka Streams,
        Spring Cloud Stream, Spring Cloud Functions and AngularJS<br><br>

        -- Azure services - Cosmos DB, Event Hub, Functions and
        App Service <br><br>
    </p>

</div>
