<div ng-init="populateProducts()" ng-controller="productsCtrl" style="margin-bottom: 40px !important;">
    <div style="height: 70px !important;">
        <div class="alert alert-danger" data-ng-show="error && error !== ''"><strong>Failure!</strong>&nbsp;{{error}}</div>
        <div class="alert alert-success" data-ng-show="loadingMessage && loadingMessage !== ''"><strong>Success!</strong>&nbsp;{{loadingMessage}}</div>
    </div>
    <div data-ng-model="products" class="panel">
        <table border="1">
            <tr>
                <th></th>
                <th ng-repeat="(key, value) in locations">{{key}}</th>
            </tr>
            <tr ng-repeat="item in products">
                <td>{{ item.description }}</td>
                <td ng-repeat="(key, value) in item.countByLocation">
                    <ul>
                        {{value}}
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <br>

    <div data-ng-model="transactions" class="panel">
        <p ng-repeat="x in transactions">
            {{x.type}} : {{x.productInformation.count}} of {{x.productInformation.name}}
             @ {{x.pointOfUpdate.description}} in {{x.pointOfUpdate.location}} [
             {{x.pointOfUpdate.longitude}}, {{x.pointOfUpdate.latitude}}]
        </p>
    </div>
</div>
